VITE_BACKEND_BASE_URL=http://localhost:8000
VITE_DEBUG_FULL_TOKENS=false

VITE_ASGARDEO_CLIENT_ID=<spa-client-id>
VITE_ASGARDEO_BASE_URL=https://<is-host>:9443
VITE_ASGARDEO_SIGN_IN_REDIRECT_URL=http://localhost:8091
VITE_ASGARDEO_SIGN_OUT_REDIRECT_URL=http://localhost:8091
VITE_ASGARDEO_SCOPE=openid profile email

