APP_NAME=WSO2 OBO Resource API
RESOURCE_API_HOST=0.0.0.0
RESOURCE_API_PORT=8001
APP_ENV=local
USE_IN_MEMORY_DEMO_FILES=true
DEMO_FILES_JSON_PATH=dev-data/demo-files.json

WSO2_ISSUER=https://<is-host>:9443/<issuer-or-token-issuer>
WSO2_JWKS_ENDPOINT=https://<is-host>:9443/oauth2/jwks
WSO2_INTROSPECTION_ENDPOINT=https://<is-host>:9443/oauth2/introspect
INTROSPECTION_CLIENT_ID=<introspection-client-id>
INTROSPECTION_CLIENT_SECRET=<introspection-client-secret>
EXPECTED_AUDIENCE=<resource-api-audience-if-your-jwt-uses-aud>
